################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp.User.Service/v17/.wsuo
/.vs/CSharp.User.Service/v17/DocumentLayout.json
/User.Backend/UserManagement.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/User.Backend/UserManagement.Application/obj/Debug/net8.0/UserManagement.Application.AssemblyInfo.cs
/User.Backend/UserManagement.Application/obj/Debug/net8.0/UserManagement.Application.AssemblyInfoInputs.cache
/User.Backend/UserManagement.Application/obj/Debug/net8.0/UserManagement.Application.assets.cache
/User.Backend/UserManagement.Application/obj/Debug/net8.0/UserManagement.Application.GeneratedMSBuildEditorConfig.editorconfig
/User.Backend/UserManagement.Application/obj/Debug/net8.0/UserManagement.Application.GlobalUsings.g.cs
/User.Backend/UserManagement.Application/obj/project.assets.json
/User.Backend/UserManagement.Application/obj/project.nuget.cache
/User.Backend/UserManagement.Application/obj/UserManagement.Application.csproj.nuget.dgspec.json
/User.Backend/UserManagement.Application/obj/UserManagement.Application.csproj.nuget.g.props
/User.Backend/UserManagement.Application/obj/UserManagement.Application.csproj.nuget.g.targets
/User.Backend/UserManagement.WebAPI/.vs/UserManagement.WebAPI/FileContentIndex/2c531886-70d7-4f7d-9ae8-cf144128b371.vsidx
/User.Backend/UserManagement.WebAPI/.vs/UserManagement.WebAPI/FileContentIndex/68c97f5b-14e8-4f83-aa94-39ad78279a23.vsidx
/User.Backend/UserManagement.WebAPI/.vs/UserManagement.WebAPI/FileContentIndex/760024fe-ea13-4bbd-b288-cedffb60a81b.vsidx
/User.Backend/UserManagement.WebAPI/.vs/UserManagement.WebAPI/v17/.suo
/User.Backend/UserManagement.WebAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/User.Backend/UserManagement.WebAPI/obj/Debug/net8.0/UserManagement.WebAPI.AssemblyInfo.cs
/User.Backend/UserManagement.WebAPI/obj/Debug/net8.0/UserManagement.WebAPI.AssemblyInfoInputs.cache
/User.Backend/UserManagement.WebAPI/obj/Debug/net8.0/UserManagement.WebAPI.assets.cache
/User.Backend/UserManagement.WebAPI/obj/Debug/net8.0/UserManagement.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/User.Backend/UserManagement.WebAPI/obj/project.nuget.cache
/User.Backend/UserManagement.WebAPI/obj/UserManagement.WebAPI.csproj.nuget.dgspec.json
/User.Backend/UserManagement.WebAPI/.vs/UserManagement.WebAPI/v17/DocumentLayout.json
*.vsidx
